<h1><center> Hello Battle!</h1></center>

<div class = "row">
  <div calss = col-md-6>
    <form action="/names" method = "post" style = 'margin: 0 auto;
      width: 400px;
      /* To see the outline of the form */
      padding: 1em;
      padding-top: 20px;
      display: block;
      margin: auto;'>
        <div>
            <input type="text" name="boxer1">
            <input type="text" name ="boxer2">
        	<input type="submit" value = "fight">
    	</div>
    </form>
  </div>
</div>