<h1><center>Welcome to the fight of the century</center></h1>

<h2><center><%= $boxer1.name %> willl be fighting <%= $boxer2.name %><center></h2>
<h3><center><%= $boxer2.hp %> : <%= $boxer2.hp %> </center></h3>

<form action = "/attack">
	<input type="submit" value="Attack">
</form>


